<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CEATSii Combat Tracker</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    @RenderSection("HeadScripts", false)
    @RenderSection("SiteHead", false)

    <link rel="stylesheet" href="~/css/SiteMain.css" />

    <baseApi href=""></baseApi>
    <base href="/" />

</head>
<body class="h-100">
    @RenderSection("BodyTop", false)

    <div class="mainbody">
        @RenderSection("PageContentTop", false)
        <main role="main" class="clear h-100" style="">
            @RenderBody()
        </main>
        @RenderSection("PageContentBottom", false)
        @RenderSection("Footer", false)
    </div>

    @RenderSection("Scripts", false)
</body>
</html>
