@{
    Layout = "_LayoutClean.cshtml";

}
@section HeadScripts
{
    @RenderSection("HeadScripts", false)
}
@section SiteHead
{
    @RenderSection("SiteHead", false)
}
@section BodyTop {
    @RenderSection("BodyTop", false)
}
@section Scripts {
    @RenderSection("Scripts", false)
}
@section PageContentTop {
    @RenderSection("PageContentTop", false)
}
@section PageContentBottom {
    @RenderSection("PageContentBottom", false)
}
@section Footer {
    @RenderSection("Footer", false)
}

<div class="container" role="main">
    @RenderBody()
</div>